* {
	box-sizing: border-box;
	font-family: 'inter' sans-serif;
	margin: 0;
	padding: 0;
}

.banner{
	margin-top: 25px;
	
}
	

body{
    background: rgb(12,214,238);
    /*background-color:  rgb(88, 4, 88);//*/
    font-family: "Arimo", sans-serif;
    font-weight: weight;
    font-style: normal;
	margin: 0;
}
.topo{
    padding: 10px;
    text-align: center;
    background: rgb(12,214,238);
    background: linear-gradient(0deg, rgba(12,214,238,1) 0%, rgba(207,149,231,1) 59%);
}
  .usuario a{
	float:right;
	color:white;
	transition:0.5s;
	text-decoration: none;
	font-size:15pt;
	padding: 10px 15px;
  }
 /* .usuario a:hover{
	background-color: #f2f2f2;
	color: black;
	border-radius: 10px;
  }*/
  
  .txt-link{
	justify-content: center;
	
  }

.menu a {
	justify-content: space-around;
	flex-direction: row;
	color: #f2f2f2;
	text-align: center;
	padding: 25px 20px;
	text-decoration: none;
  }

/* adicionei o flexbox pra essa div */
nav{
	text-align: center;
	margin-top: 10px;
	font-family: 'Segoe UI', tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

nav a{
	color: white;
	text-decoration: none;
	font-size: 15pt;
	position: relative;
	box-sizing: border-box
}

nav a::after{
	content:" ";
	width:0%;
	height: 3px;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	left: 0;
	transition:0.8s ease-in-out;
}

nav a:hover::after{
	width: 100%;
}	
p{
color:  rgb(88, 4, 88);
margin-top: 50px;	
	
}

nav a.icon {
    float: right;
    text-align: left;
	padding: 0px 20px 5px 0;
	font-size: 10pt;
    }

@media screen and (max-width: 500px){
  
.a{
    float: none;
    display: auto;  
	padding: 0px 5px 10px 0;
	font-size:3pt;
	}
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.totalcolumn {
    float:left;
    width: 100%;
    height: auto;
}
  
.card {
    background-color: #F0F8FF;
    padding: 20px;
    margin-top: 20px;
    margin:0;
}

.rodape{
    padding: 50px;
    /*background: rgb(12,214,238);*/
    background: linear-gradient(0deg, rgba(207,149,231,1) 0%, rgba(12,214,238,1) 59%), rgba(12,214,238,1);
    margin-top: 20px;
    color:white;
	height: auto;
	display: flex;
	flex-direction: column;
}
    
@media screen and (max-width: 800px) {
    .flex-container{   
      width: 100%;
      padding: 0;
      flex-direction: column;
      justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .flex-container{
    float: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    }
}
  
.mySlides{
	display: none;
	vertical-align: middle;
}

img {
  vertical-align: middle;
  
}

.slideshow-container {
	max-width: 400px;
	position: relative;
	margin: auto;
	top:0px;
	vertical-align: middle;
}

.texto{
	color: black;
	font-size: 16pt;
	padding: 15px 20px;
	position: absolute;
	bottom: -40px;
	width: 100%;
	text-align: center;
}

.preco{
	color: green;
	font-size: 18pt;
	font-weight: bold;
	padding: 10px 15px;
	position: absolute;
	bottom: -65px;
	width: 100%;
	text-align: center;
}

.desc{
	font-size: 8pt;
	padding: 8px 12px;
	position: absolute;
	bottom: -80px;
	width: 100%;
	text-align: center;	
}

.dot {
	height: 15px;
	width: 15px;
	margin-top: 70px;
	background-color: rgba(12,214,238,1);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: rgba(207,149,231,1);
}

.fade {
	animation-name: fade;
	animation-duration: 2.2s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}

.tracking-out-contract {
	-webkit-animation: tracking-out-contract 0.7s ease-in-out reverse both;
	        animation: tracking-out-contract 0.7s ease-in-out reverse both;
}

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

.flex-container4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.flex-container4 > div {
  margin-top: 50px;
  text-align: center;
  line-height: 20px;
}

.produto{
  width: 250px;
  height: 320px;
  padding: 5px;
  margin: 5px;
  border: 2px solid purple;
  border-radius: 5px;
}


.produto:hover{
  border: 2px solid deepskyblue;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.caixa{
	padding: 5px 5px;
}

.texto1{
	color: black;
	font-size: 12pt;
	padding: 10px 10px;
	position: relative;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.preco1{
	color: green;
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10x;
	position: relative;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.desc1{
	font-size: 8pt;
	padding: 10px 10px;
	position: relative;
	bottom: 30px;
	width: 100%;
	text-align: center;	
}

.texto2{
	color: white;
	font-weight: bold;
	font-size: 12pt;
	position: relative;
	bottom: 10px;
	width: 100%;
	text-align: left;
}

.texto3{
	color: white;
	font-weight: bold;
	font-size: 12pt;
	position: relative;
	top: -100px;
	width: 100%;
	text-align: right;
	margin-right: 1000px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
:root{
	--color-neutral-0: #0e0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #a8a29e;
	--color-neutral-40: #f5f5f5;
}

footer{
	width: auto;
	color: var(--color-neutral-40);
}

.footer-link{
	text-decoration: none;
}

#footer_content{
	background-color: var(--color-neutral-10);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contacts p{
	color: var(--color-neutral-40);
}

#footer_contacts h1{
	margin-bottom: 0.75rem;
}

#footer_social_midia{
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
}
#footer_social_midia .footer-link{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}

#footer_social_midia .footer-link i{
	font-size: 1.25rem;
}

#footer_social_midia .footer-link:hover{
	opacity: 0.8;

}

#instagram{
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
	background-color: #4267b3;
}

#whatsapp{
	background-color: #25d366;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-list .footer-link{
	color: var(--color-neutral-30);
	transition: all 0.4s;
}

.footer-list .footer-link:hover{
	color: rgba(207,149,231,1);
}

#footer_subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer_subscribe p{
	color: var(--color-neutral-30);
}

#input_group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-0);
	border-radius: 4px;
}

#input_group input{
	all: unset;
	padding: 0.75rem;
	width: 100%;
}
#input_group button{
	background-color: rgba(207,149,231,1);
	border: none;
	color: var(--color-neutral-40);
	padding: 0pc 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

#input_group button:hover{
	opacity: 0.8;
	transition: all 0.4s;
}

#footer_copyright {
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

@media screen and (max-width: 768px){
	#footer_content {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

}

@media screen and (max-width: 426px){
	#footer_content {
		grid-template-columns: repeat(1, 1fr);
		padding: 3rem 2rem;
	}

}

