html{
    color: #fff;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(45deg, rgb(17, 200, 236), rgba(125, 7, 121, 0.97));
    font-family: "poppins", sans-serif;
    margin: auto;
    max-width: 1120px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;   
}

.cabecalho .logo{

width: 65px;
height: 65px;
border-radius: 50%;
border:  2px solid #fff;
text-decoration: underline;
text-align: center;
line-height: 55px;
font-family: "Raleway", sans-serif;
transition: 0.2s;

}

.cabecalho a:hover .logo{
    color: #101011;
    border: 1px solid #f2eff5;
}


.cabecalho .menu li a{
    font-size: 20px;
    transform: capitalize;
    padding: 10px 20px;
}

.cabecalho .menu li a:hover {
    background-color: #9443d8;
    color: #fff
    
    
    
}
.menu li a:hover{
    border-radius: 30%;
    transition: 0.2s;

}

.sobre{
  
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 60px
}

.sobre .informacoes{
 
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.sobre .informacoes h1{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
   
}
.sobre .informacoes p{
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
   
}

.sobre .redes-sociais{
  
   display: flex;
    gap: 20px;
   
}

.sobre .redes-sociais a i{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.sobre .redes-sociais a i:hover{
    color: #101011;
    border: 1px solid #f2eff5;
    transform: scale(1.1);
}

.sobre .container-foto .foto{
 
    max-width: 450px;
    border-radius: 50%;
    flex-direction: initial;
}

.sobre .container-foto img{
    width: 100%;
    border-radius: 50%;
   
}

.sobre .foto.sombra-interna{
    background: linear-gradient(45deg, rgb(247, 0, 255), rgba(5, 223, 248, 0.97));
}

.produtos {
	padding: 70px 0 70px;
}

.produtos .titulo {
	text-align: center;
	padding: 60px 0;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.produtos .container-imagens {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.produtos .projeto {
	max-width: 260px;
	max-height: 500px;
	position: relative;
	display: none;
}

.produtos .projeto.ativo {
	display: block;
}

.produtos .projeto img {
	height: 100%;
}

.produtos .projeto h3 {
	background-color: #040203;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
    text-align: center;
}

.produtos .projeto .informacoes-imagens {
	background-color: #040203;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
}

.produtos .container-imagens .projeto:hover .informacoes-imagens {
	opacity: 0.7;
	background-color: #000;
}

.produtos .btn-voltar {
	background: none;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #fff;
	width: 180px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn-voltar:hover {
	background-color: #9443d8;
	transition: 0.3s;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
:root{
	--color-neutral-0: #0e0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #a8a29e;
	--color-neutral-40: #f5f5f5;
}

footer{
	width: 100%;
	color: var(--color-neutral-40);
}

.footer-link{
	text-decoration: none;
}

#footer_content{
	background-color: var(--color-neutral-10);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contacts p{
	color: var(--color-neutral-40);
}

#footer_contacts h1{
	margin-bottom: 0.75rem;
}

#footer_social_midia{
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
}
#footer_social_midia .footer-link{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}

#footer_social_midia .footer-link i{
	font-size: 1.25rem;
}

#footer_social_midia .footer-link:hover{
	opacity: 0.8;

}

#instagram{
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
	background-color: #4267b3;
}

#whatsapp{
	background-color: #25d366;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-list .footer-link{
	color: var(--color-neutral-30);
	transition: all 0.4s;
}

.footer-list .footer-link:hover{
	color: rgba(207,149,231,1);
}

#footer_subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer_subscribe p{
	color: var(--color-neutral-30);
}

#input_group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-0);
	border-radius: 4px;
}

#input_group input{
	all: unset;
	padding: 0.75rem;
	width: 100%;
}
#input_group button{
	background-color: rgba(207,149,231,1);
	border: none;
	color: var(--color-neutral-40);
	padding: 0pc 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

#input_group button:hover{
	opacity: 0.8;
	transition: all 0.4s;
}

#footer_copyright {
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

@media screen and (max-width: 768px){
	#footer_content {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

}

@media screen and (max-width: 426px){
	#footer_content {
		grid-template-columns: repeat(1, 1fr);
		padding: 3rem 2rem;
	}

}



